.Icons{
    width: 50%;
    height: 98%;
    background-color: white;
    border-radius: 5%;
    border: solid black 2px;
}
#title{
    margin: 2%;
    margin-top: 5%;
    font-size: large;
    font-weight: bold;
}
.selected{
    background-color: blue;
}