.Keypad{
    position: relative;
    left: 19%;
    top: 13%;
    height:36%;
    width: 60%;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 30%;
}
.Keypad div{
    font-size:30%;
}
img{
    width: 20%;
}


#menu{
    position: relative;
    right:31%;
    top: 4%;
}
span{
    font-size: 3vh;
    font-weight: bold;
}
#center{
    position: relative;
    display: inline-block;
    width: 35%;
    height: 35%;
    border :2px solid black ;
    top: 10%;
    border-radius: 50%;
    
}
#next{
    position: relative;
    left:67%;
    top: 42%;
}
#back{
    position: relative;
    right:21%;
    top: 42%;
}
#play{
    position: relative;
    right:8%;
    top: 73%;
}