.App {
    text-align: center;
  }
  .ipod {
    background-image: url("../images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    width: 55vh;
    margin: 2%;
    margin-left: 30vw;
  
    /* min-width: 590px; */
  }